---
// @ts-ignore
import { Icon } from "astro-icon";
const features = [
  {
    title: "Smart Email Organization",
    description:
      "OWAY intelligently categorizes and prioritizes your emails, ensuring you never miss an important message.",
    icon: "bx:bxs-inbox",
  },
  {
    title: "Auto Reply",
    description:
      "Save time with OWAY’s auto-reply feature, which crafts personalized responses based on your preferences.",
    icon: "bx:bxs-message-square-dots",
  },
  {
    title: "Efficient Email Delegation",
    description:
      "Easily delegate emails to team members with OWAY’s quick and intuitive delegation tools.",
    icon: "bx:bxs-user-check",
  },
  {
    title: "Snooze and Reminders",
    description:
      "Snooze emails for later and receive timely reminders, helping you manage follow-ups effortlessly.",
    icon: "bx:bxs-alarm-snooze",
  },
  {
    title: "Advanced Email Search",
    description:
      "Quickly find any email with OWAY’s powerful search capabilities, making your inbox more navigable.",
    icon: "bx:bxs-search",
  },
  {
    title: "Customizable Workflows",
    description:
      "Tailor OWAY to fit your unique workflow with customizable rules and automation options.",
    icon: "bx:bxs-cog",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need for your business success
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    OWAY comes fully equipped with powerful features. It combines cutting-edge
    AI technology with seamless integration, delivering a smarter, more
    efficient email experience.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
